<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ITU CSC 520 Python Programming Team Project</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#607D8B">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link rel="stylesheet" href="../static/ie10-viewport-bug-workaround.css">
  <!-- Custom styles for fixed-top template -->
  <link rel="stylesheet" href="../static/navbar-fixed-top.css">
  <!-- main CSS -->
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<div class="container-fluid">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">InNAround</a>
        </div>
      </div>
    </nav>
  </header>
  
  <div class="container">
    <div class="jumbotron">
      
      <h2>
        Welcome {{username}}!
      </h2>
      
      <form action="/destination" method="POST">
        <select name="city" id="city" onchange="this.form.submit()" class="selectpicker">
          <option selected>Select a city...</option>
          <option value="San Jose">San Jose</option>
          <option value="San Francisco">San Francisco</option>
          <option value="San Diego">San Diego</option>
          <option value="Los Angeles">Los Angeles</option>
        </select>
      </form>
    
    
    </div>
  </div>
  
  
  <footer>
    <footer class="text-center">
      <p>Created by: Sangeeta Joshi, Kavya Suresh Babu, Ligang Ye, Mahima Ganapati, and Madhura Bhat.</p>
    </footer>
  </footer>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- bootstrap.min.js -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<!-- customized js-->
<script src="../static/main.js"></script>
</body>

</html>
